.ui.borderless.topmenu.menu {

  float: left;
  font-size: 11px;
  background-color: #fff;
  color: #777;
  box-shadow: none;
  border: none;
}

.ui.borderless.middlemenu.menu {

  display: block;
  color: #011;
  font-family: "hurme-bold";
  font-size: 15px;
  line-height: 66px;
  text-transform: uppercase;
  color: #777;
  box-shadow: none;
  border: none;
}

.footer-background {
  background-color: white;
  height: 200px;
  color: #292929;
  padding-top: 20px;
  padding-bottom: 20px;
}